<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Dbook</title>
</head>
<body>
    <div class="content">
            <div class="head">
                Dbook
            </div>
            <div class="field">
                <form action="/get-books" method="post">
                    <input type="text" class="input" name="query" placeholder="search the book">
                    <button type="submit" class="submit">submit</button>
                </form>
            </div>
    </div>

    
    
</body>
</html>
